.line{
    width: 65px;
    height: 2px;
    background-color: white;

}


.header-section .nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5rem;

}
.header-section .nav-bar ul{
    list-style: none;
    display: inline-flex;


}
.header-section .nav-bar ul li{
    padding-right: 2rem;
    color: #12141f;
}
.header-section .nav-bar button{
    padding: 1rem 2.5rem 1rem 2.5rem;
    border: none;
    border-radius: 40px;
    background-image: linear-gradient(to left,#ee390f 0%,#f9b700 51%,#ee390f 100%);
    color: white;
    cursor: pointer;
}



.header-section .welcome-message{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
}
.header-section .welcome-message h3 {
    color: #556172;
    margin-top: 4rem;

}
.header-section .welcome-message h1{
    color: #0c2e60;
    font-size: 3rem;
}

.header-section .welcome-message p{
color: #777;
    margin-bottom: 2rem;
    font-size: 1.25rem;
}
.header-section .welcome-message .welcome-text .register-button{
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 100px;
    border: none;
    color: white;
    background-image: linear-gradient(to left,#ee390f 0%,#f9b700 51%,#ee390f 100%);
    cursor: pointer;

}

.header-section .welcome-message .welcome-text .start-button{
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 100px;
    border: 1px solid #0c2e60;
    color: #0c2e60;
    background-color: transparent;
    cursor: pointer;
}
.header-section .welcome-message .welcome-text .start-button:hover{
    border: 1px solid #ee390f;
    background-image: linear-gradient(to left,#ee390f 0%,#f9b700 51%,#ee390f 100%);
    color: white;
}




.header-section .welcome-message .welcome-text .register-button .start-button{
    margin: 2rem;
}




.feature-section{
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 4rem;
}
.feature-section .row-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;

}

.feature-section .section-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color:  #0c2e60;
    line-height: 1.29;
}
.feature-section .section-description{
    color: #888;
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.feature-section .read-button{
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-radius: 200px;
    border: none;
    background-image: linear-gradient(to left,#ee390f 0%,#f9b700 51%,#ee390f 100%);
    color: white;
    cursor: pointer;
    margin-bottom: 2rem;
}

.feature-section .row-card .feature-card{
    width: 230px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #f0f4f6;
    margin: 0rem 3rem 0rem 3rem;
    transition: .6s;
}
.feature-section .row-card .feature-card:hover{
    border: 1px solid #ee390f;

}

.feature-section .row-card .feature-card .icon{
    background-color: #f0f4f6;
    color:#0c2e60;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.feature-section .row-card .feature-card .icon:hover{
    background-image: linear-gradient(to left,#ee390f 0%,#f9b700 51%,#ee390f 100%);
}

.feature-section .row-card .feature-card .card-title{
    color:#0c2e60;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
.feature-section .row-card .feature-card .card-text{
    color: #7f7f7f;
    margin-bottom: 1.5rem;
    line-height: 1.8rem;
    font-size: 1rem;

}
.about-section .learn{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8rem;



}
.about-section .welcome-texts{
    padding-top: 4rem;
}
.about-section .learn .line{
    position: absolute;
    height: 2px;
    width: 60px;
    content: "";
    background-color: #ff663b;
}

.about-section .welcome-image img {
    padding-right: 2rem;



}
.about-section .welcome-texts .title{
    color: #556172;
    font-size: 1rem;
    padding-left: 4rem;
    text-transform: uppercase;

}
.about-section .welcome-texts .text h1{
    color: #0c2e60;
    font-size: 2rem;
    margin-bottom: 10px;
    line-height: 35px;
    margin-top: 15px;
    padding-left: 2rem;
}
.about-section .welcome-texts .text p{
    color: #888;
    line-height: 1.929;
    margin-bottom: 2rem;
    font-size: 0.75rem;
}
.about-section .welcome-texts .icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    color: #888888;
}
.about-section .welcome-texts .icon .icon-image{
    padding-right: 1rem;
}
.about-section .welcome-texts .register-button{
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-radius: 200px;
    border: none;
    background-image: linear-gradient(to left,#ee390f 0%,#f9b700 51%,#ee390f 100%);
    color: white;
    cursor: pointer;
    margin-top: 2rem;

}


.about-section .single-num{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.about-section .single-num{
    background-image: linear-gradient(to left,#ee390f 0%,#f9b700 51%,#ee390f 100%);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    font-size: 2rem;


}

.about-section .single-num .number{
    font-size: 3rem;
    padding-top: 1.5rem;
    margin-top: 2rem;
}
.about-section .single-num h4 {
    padding-bottom: 2rem;
}
.about-section .single-num .line{
    width: 65px;
    height: 2px;
    background-color: white;
    margin-top: 2rem;
}


.course-section .special{
    text-align: center;
}

.course-section .special .title{
    color: #556172;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 11px;
    font-size: 1rem;
}
.course-section .special h1{
    color: #0c2e60;
    font-size: 2.5rem;
}
.course-section .special .line{
    margin: 0 auto;
    text-align: center;
    width: 80px;
    height: 2px;
    background-color: #ff663b;
}
.course-section .cards .welcome-text {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;

}
.course-section .cards .welcome-text h4 {
    padding-left: 8rem;
    color: #ff663b;
}

.course-section .cards .welcome-text .register-button{
    padding: 0rem 2rem 0rem 2rem;
    height: 40px;
    border: none;
    background-color: #ff663b;
    color: white;
    cursor: pointer;
}

.course-section .cards h3{
    color: #0c2e60;
    font-size: 1.5rem;
    line-height:1.3px;
    cursor: pointer;
    margin-top: 2rem;
}
.course-section .cards h3:hover{
color: #ff663b;;
}

.course-section .cards p {
    color: #888;
    font-size: 1rem;
    padding-top: 1rem;

}
.course-section .cards .welcome-image img{
    margin-top: 5rem;

}




.course-section .group .cards.author-imag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.course-section .cards .image-and-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.course-section .cards .author-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.course-section .cards .rate-icon{

}

.course-section .cards .image-and-name .name p {
    color: #888;
    font-size: 1rem;
}

.course-section .cards .image-and-name .name h5 {
    color: #0c2e60;
    font-size: 1rem;
}

.course-section .cards .rate-icon .rating {
    color: #ffc107;
}

.course-section .cards .rate-icon .text{
    color: #888;
    font-size: 1rem;
}
.course-section .group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.course-section .group .cards .author-info .author-imag .author-text .image-and-name img {
   max-width: 300px;
    max-height: 75px;
    padding-top: 1.5rem;

}
.advance-section .progress-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12rem;

}
.advance-section .welcome-text .line{
    width: 65px;
    height: 1px;
    background-color: #ff663b;
    margin-top: 2rem;
}
.advance-section .flex-only{
    display: flex;
    flex-direction: row;

}
.advance-section .flex-only .title h5 {
    padding-left: 1rem;
    color: #556172;
    font-size: 1rem;
    text-transform: uppercase;

}
.advance-section .welcome-text h1{
    color: #0c2e60;
    font-size: 2.5rem;
    line-height: 35px;
    margin-bottom: 40px;
    margin-top: 3px;
}

.advance-section .welcome-text p {
    line-height: 1.929;
    color: #888;
}
.advance-section .put-image img{
    margin-right: 14rem;
}

 .advance-section .learn-member{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding-right: 50rem;


 }
 .advance-section .learn-member .card .icon  h4{
     color: #0c2e60;
     font-size: 1.5rem;
 }
 .advance-section .learn-member .card .icon p {
     color: #888;
     font-size: 1.12rem;
 }

 .advance-section .learn-member .card .icon i {
     height: 60px;
     width: 60px;
     line-height: 60px;
     border-radius: 50%;
     background-color: #fdeae5;
     display: inline-block;
     text-align: center;
     font-size: 22px;
 }

 .happy-section .text{
     text-align: center;
     text-align: -webkit-center;
     margin: 8rem;
 }

 .happy-section .text h4{
     color: #556172;
     font-weight: 500;
     text-transform: uppercase;
     line-height: 11px;
 }
 .happy-section .text h1{
     color: #0c2e60;
     font-size: 2.5rem;
 }

 .happy-section .text .line{
     width: 70px;
     height: 2px;
 }
 .happy-section .group{
     display: flex;
     flex-direction: row;
     justify-content: space-around;


 }
 .happy-section .group .welcome-image img{
     margin-left: 1rem;
     width: 185px;




 }
 .happy-section .group .slider-text{
     margin-left: 2rem;

 }
 .happy-section .group .slider-text p{
     color:  #888;
     font-style: unset;
     font-size: 1.25rem;


 }
.happy-section .group .slider-text  h4{
    color: #0c2e60;
    font-size: 1.25rem;

}

.happy-section .group .slider-text h5 {
    color: #888;
    font-size: 1rem;
    padding-bottom: 4rem;


}
.happy-section .box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}
 .blog-section .text-word{
     text-align: center;
     text-align: -webkit-center;
     margin: 8rem;
 }
 .blog-section .text-word p {
     color: #556172;
     font-weight: 500;
     text-transform: uppercase;
     line-height: 11px;
     margin-bottom: 10px;
 }

 .blog-section .text-word h2 {
     color: #0c2e60;
     line-height: 40px;
     font-size: 2.5rem;
 }

 .blog-section .text-word .line{
     width: 70px;
     height: 2px;

 }


 .blog-section .group .welcome-text  .register-button {
     padding: 0.5rem 2rem;
     margin-top: 2rem;
     border: solid transparent;
     background-color:#ff663b;
     color: white;
     cursor: pointer;
     transition: 8s;
     font-size: 0.95rem;
 }
.blog-section .group .welcome-text  .register-button:hover{
background-color: transparent;
}

.blog-section .group .welcome-text h3{
    line-height: 1.5;
    font-size: 1.5rem;
    transition: .8s;
    text-transform: capitalize;
    color: #0c2e60;
    cursor: pointer;
}
.blog-section .group .welcome-text h3:hover{
    color: #ff663b;
}

.blog-section .group .welcome-text p {
    line-height: 1.929;
    font-size: 1rem;
    color: #888;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.blog-section .group .icon {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;

}
.blog-section .group .icon .like {
    padding-left: 2.5rem;
    display: inline-block;
    color: #8a8a8a;
}
.blog-section .group .icon .comment{
    display: inline-block;
    color: #8a8a8a;
}

.blog-section .group{
    margin-left: 4rem;
    margin-top: 2rem;
}
.blog-section .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.end-section .img-text p {
    padding: 1rem;
    font-size: 1.25rem;
    color: #888;
}

.end-section .half h4 {
    font-size: 2rem;
    color: #0c2e60;
}
.end-section .half p {
    padding: 1rem;
    font-size: 1.25rem;
    color: #888;

}

.end-section .half .form-group .input-group input{
    padding: 1rem 3.5rem 1rem 3.5rem;

}
.end-section .half .form-group .input-group input:hover{
background-image: linear-gradient(to left,#ee390f 0%,#f9b700 51%,#ee390f 100%);
    color: #f0f4f6;
}

.end-section .all-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   margin: 8rem;


}
.end-section {
    background-color: #f7f7f7;
}
.end-section .img-text {
    padding-top: 3rem;
}

.end-section .half p {
    padding-right: 4rem;
    font-size: 1.25rem;
    color: #888;

}
.end-section .half .social-icon {
    padding-top: 2rem;
    margin: 1rem 2rem 1rem 2rem;
    align-items: center;
    color: #888888;


}


.end-section .info h4 {
    font-size: 2rem;
    color: #0c2e60;
}


.end-section .info p {
    line-height: 1.8;
    color: #888;





}
.end-section .info p span {
    color: #0c2e60;
    font-size: 1.25rem;



}





































































































.line{
    width: 100px;
    height: 50px;
    background-color: orangered;
}


































.container{
    max-width: 1450px;
    margin: auto;
}

.container-small{
    max-width: 1000px;
    margin: auto;
}
.small-container{
    max-width: 2000px;
    margin: auto;
}
.small-container{
    max-width: 3000px;
    margin: auto;
}




